*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/planet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.form-container{
  width: 30%;
  height: auto;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 20px ;
  padding:0 20px;
  padding-bottom: 20px;
  background: #240A3A;
}

.form-container h2{
  padding: 20px 0;
  text-align: center;
  font-family: 'Original Surfer', cursive;
  color: red;
  font-size: 2.3rem;
  text-shadow: 2px 0px 0px #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

form label{
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
} 

select{
  width: 100%;
  padding: 12px 0;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
  border-bottom:2px solid red;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  background: #240A3A;
  
}

select:focus{
    outline: none;
}

.form-container button{
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 50px;
  cursor: pointer;
  background-color: #FBA541;
  color: red;
  font-size: 1.2rem;
  font-family: 'Original Surfer', cursive;
  font-weight: 800;

}

.form-container button:focus{
  outline: none;
}


/* //-------------------------Media-Query-------------------------/ */

@media (max-width:1024px){
  .form-container{
    width: 50%;
  }
}

@media (max-width:650px){
  .form-container{
    width: 70%;
  }
}

@media (max-width:425px){
  .form-container{
    width: 85%;
  }
}

/* //----------------------------------form-Test----------------------// */


.dp-none{
  display: none;
}

.form-test{
  display: flex;
  flex-direction: column;
}

.form-test .question-form h2{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.form-test .answer-form{
  display: flex;
  flex-direction: column;
}

.form-test .answer-form label{
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

.form-test .answer-form label:hover{
  background-color: #FBA541;
}

.form-test .answer-form input{
  margin-right: 10px;
}

.form-test .answer-form button{
  margin: 10px 0;
  border-radius: 15px;
}

.finish{
  width: 100%;
  font-family: 'Original Surfer', cursive;
  color: #fff;
}

.mb{
  margin-bottom: 40px;
}

.finish a{
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #FBA541;
  color: red;
  font-size: 1.2rem;
  font-family: 'Original Surfer', cursive;
  font-weight: 800;
}